@model IINTOS.ViewModels.CoordinatiorSchoolViewModel
@{
    ViewData["Title"] = "CreateCoordinator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Character Creation Coordinator</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateCoordinator">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="About"></label>
                <input asp-for="About" class="form-control" />
                <span asp-validation-for="About" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nationality" class="control-label"></label>
                <div>
                    <select id="type" class="form-control" asp-for="Nationality" name="Nationality" asp-items="(List<SelectListItem>)ViewBag.Nationality"></select>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="SchoolName"></label>
                <input asp-for="SchoolName" class="form-control" />
                <span asp-validation-for="SchoolName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SchoolAddress"></label>
                <input asp-for="SchoolAddress" class="form-control" />
                <span asp-validation-for="SchoolAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SchoolWebsite"></label>
                <input asp-for="SchoolWebsite" class="form-control" />
                <span asp-validation-for="SchoolWebsite" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SchoolCity"></label>
                <input asp-for="SchoolCity" class="form-control" />
                <span asp-validation-for="SchoolCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}