
@{
    ViewData["Title"] = "IndexRegistation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body class="align-middle">
    <h1>How are you?</h1>

    <div class="list-group-horizontal">
        <a class="btn btn-primary" asp-area="" asp-controller="Registation" asp-action="Create">Professor</a>
        <a class="btn btn-primary" asp-area="" asp-controller="Registation" asp-action="CreateCoordinator">Coordinator</a>
    </div>
</body>