@{
    var type = (string)ViewData["_alert.type"];
    var title = (string)ViewData["_alert.title"];
    var body = (string)ViewData["_alert.body"];
}
@if (!string.IsNullOrEmpty(type) && !string.IsNullOrEmpty(title) && !string.IsNullOrEmpty(body))
{
    <div class="alert alert-@type alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>@title</strong> @body
    </div>
}