@model IINTOS.Models.User
@{
    ViewData["Title"] = Model.School.Name + " School Administation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<a class="btn btn-light" asp-action="ProfessorList">Professor list</a>
<br />
<br />
<a class="btn btn-light" asp-action="ApproveProfessorList">Approve professors</a>
<br />
<br />
<a class="btn btn-light" asp-area="" asp-controller="Schools" asp-action="Details" asp-route-id="@Model.School.Id">School Details</a>
<br />
<br />
<a class="btn btn-light" asp-action="CreateProfessor">Create new Professor</a>
<br />
<br />