
@{
    ViewData["Title"] = "IINTOS Area";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<br />
<a asp-action="ListUsers" class="btn btn-light">IINTOS Users</a>
<br />
<br />
<a asp-action="" class="btn btn-light">Create IINTOS User</a>
<br />
