
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="h1">About IINTOS</h1>
<br />
<p class="align-content-around">
    The aim of our project is to develop international teaching and learning processes that lead our main target groups, teachers, students and schools stakeholders, able to make the schools more international and at the same time raise the competence levels in STEM education.
    For this purpose, an international office in school is the way to encourage, facilitate, help and promote the internationalization of the school at the national, European and international level.
</p>

Thus, we are developing a framework of international offices in schools for students and teachers, to generalize throughout Europe, to realize the following objectives:
<ul>
    <li>
        The global education objectives in schools;
    </li>
    <li>
        Education for global citizen in formal education;
    </li>
    <li>
        Global education in the European curricula;
    </li>
    <li>
        Tool for analyzing and comparing the curricula for STEM education;
    </li>
    <li>
        Increase students STEM competences;
    </li>
    <li>
        Including the Common Framework of Europe Competence in the school policy plan;
    </li>
    <li>
        Best practices of global education to implement in schools;
    </li>
    <li>
        Virtual and real-life contexts exchanges and meetings;
    </li>
    <li>
        Global competencies and life skills;
    </li>
    <li>
        Build long-lasting international relationships;
    </li>
    <li>
        Intercultural competencies development of the teachers;
    </li>
    <li>
        Develop cross-cultural leadership and professional skills by collaborating with students from various cultures;
    </li>
    <li>
        Make the students able to graduate with increased STEM and global competencies.
    </li>
</ul>
<h4>Our project will develop:</h4>
<ul>
    <li>Comparison of curricula and the way to develop the European and international dimension in the curriculum;</li>
    <li>The definition and the development of the coordinator activities in every international office in school;</li>
    <li>The production of interactive Internet web-based platform for coordinators, teachers and all the schools stakeholders;</li>
    <li>The organization of exchanges activities in two pilot schools.</li>
</ul>
<p>
    During the project, we will focus on the STEM subjects for two main reasons:
    they are subjects fairly cultural independent and therefore transversal to European curricula and there is a need to increase pupils competences on this key subjects.
</p>
<p>
    Our web-based open source platform will store resources, existing projects and all relevant information related to the internationalization of the schools.
    Within the platform a Task Management System (TMS) will be available for the coordinators daily use.
    The aim is to help the coordinators to manage their offices in their own schools, organizing, monitoring, interacting and establishing new partnerships with the schools actors and the others coordinators in their country or across Europe.
</p>
<p>
    This TMS manages: 
    coordinators contacts, schools, exchanges with others coordinators, tasks such as phone calls, e-mails, notes and meetings, campaigns, e-mailings, newsletters, workflows, documents.
</p>
<h4>In Conclusion</h4>
<p>
    The project greater aim is to facilitate the exchanges between schools across Europe and make more common and usual teaching and learning by having an international approach, it also allows the informal exchange of practices in the STEM subjects increasing awareness and promoting pupil competence development.
</p>
<p>
    With this project, we want to help all the European countries to develop the internationalization of their schools, to establish sustainable partnerships with others schools and to build and manage an international office in their schools without spending money.
</p>

<img src="~/images/erasmusCoFunded.jpg" width="400" height="121" alt="Erasmus Co Funded" />
<img src="~/images/erasmusFlag.png" width="400" height="121" alt="Erasmus Flag" />
