@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To IINTOS</h1>
    <p>A Platform that will help you get into this mobility network</p>
</div>
<a class="nav-link text-dark" asp-area="" asp-controller="Registation" asp-action="Create">Create USer</a>
