
@{
    ViewData["Title"] = "OlomucPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Palacký University Olomouc </h1>
<br />
<img src="~/images/Olomouc.png" width="500" height="200" alt="IPS" />
<p>
    Palacký University Olomouc is a university with long-standing tradition. Founded in 1573,
    it is the oldest university in Moravia and the second-oldest university in the Czech Republic.
    Palacký University Olomouc categorises itself as a scientific university.
    The eight faculties (Theology, Medicine and Dentistry, Arts, Science, Education, Physical Culture, Law, Health Sciences) of Palacký University offer 332 Bachelor’s,
    Master’s, and Doctoral (more at <a href="https://edis.upol.cz/cc">https://edis.upol.cz/cc</a>). Palacký University Olomouc is one of the top Czech universities,
   and ranks among the best universities in the world, according to international rankings 
    (<a href="https://veda.upol.cz/en/rankings/up-in-international-rankings/">https://veda.upol.cz/en/rankings/up-in-international-rankings/</a> ).
   Palacký University has more research centres - Institute of Molecular and Translational Medicine, The Regional Centre for Advanced Technologies and Materials,
   Centre for the Haná Region for Biotechnical and Agricultural Research, Research Centre for German Moravian Literature,
   Centre for Patristic, Medieval and Renaissance Texts, Centre for Clinical Law Education.
</p>
<img src="~/images/Olomouc.png" width="500" height="200" alt="IPS" />
<p>
    The Faculty of Education strives for maintaining the tradition, versatility and modernity in the education of students for
    their teaching careers or other positions in education. This is done in cooperation with the other faculties of Palacký University but the 
    priority is the development of education in the region of Olomouc and in providing qualification of graduates for positions outside the national borders.
</p>
<p>
    The Faculty of Education of the Palacký University in Olomouc provides university education for future teachers and other
    educationists destined for various types of kindergartens, primary and secondary schools, and school and after-school education facilities.
    It also focuses on training staff in the field of state administration and self-government. 
    The faculty offers an established range of accredited Bachelor, Master’s and Doctoral programmes in teaching as well as related non-teaching fields,
    as full-time or part-time studying programmes.
</p>
<p>
    The Institute of Education and Social Studies was established on 2009. The Institute has three sections: education, 
    teaching licensure, and social studies. The Institute offers courses in theory of education and educational disciplines to prospective teachers at primary
    and secondary schools. The main research areas are Future Teachers training, 21st Century Skills in Education, Ethics in Education. 
    the Institute is in charge of the doctoral programme of Education, supervises the habilitation and professorships procedures.
    The Institute and its faculty have been among the university’s most successful applicants for research grants aimed primarily at the innovation of study programmes, 
    introducing new majors or new forms of study. The titles of the projects can serve as examples: The preparation for the acquisition of teaching licensure; 
    Evaluation pedagogic research and its methods; The operational ﬁeld of social work – the background and the aim of the study;
    Research of new methods in creative competitions for youth aiming at motivating for research in natural sciences. 
    The Institute has also an extensive collaboration with other institutions both Czech and from abroad 
    (Slovakia, Spain, the Netherlands, Portugal, Hungary, Belgium, China, Indonesia, Austria, Germany, England, Poland etc.). 
    Further, it is a member of various organizations, societies, and associations (e.g. Czech Pedagogical Society, Czech association of pedagogical research).
</p>

