
@{
    ViewData["Title"] = "Partner";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>IINTOS Partners</h1>

<a asp-action="IpsPage">
    <img src="~/images/IPS.jpg" width="300" height="200" alt="IPS" />
</a>
<a asp-action="OlomucPage">
    <img src="~/images/Olomouc.png" width="400" height="121" alt="Olomouc" />
</a>
<a asp-action="SaramagoPage" class="btn btn-light">Saramago</a>
<a asp-action="VallauriPage" class="btn btn-light">Vallauri</a>


