
@{
    ViewData["Title"] = "VallauriPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1>Istuzione Superiore "G.Vallauri"</h1>
@*http://www.vallauri.edu/public/ita/pagina.asp*@
<p>
    Our <a href="http://www.vallauri.edu/public/ita/pagina.asp">Institute "Istituto Comprensivo "</a> (ICO) is in OLEGGIO (NO),
    laying on the sweetest hills of Northern East of Piedmont Region,
    North of Italy along precious vineyards and rich rise fields includes
    3 Primary schools (children from 6 to 10 years old)
    and a Middle School (from 11 to 13) with almost 960 students.
</p>
<h2>Our Vision</h2>
<p>
    Above all, here in our Institute we all believe in a
    "learning organization" where information experiences
    and the evaluation of each single individual becomes common
    heritage of the entire organization creating our own values and beliefs,
    among all: "equity” and "equal opportunities".
</p>
<h2>Our Mission</h2>
<p>
    To guarantee each and every student with the best learning
    environment needed to succeed as person and citizen of the
    world taken into account their own diversity and peculiarity.
    We are committed to follow, as every public school,
    the general path suggested by the National curricula
    and adopted and adjusted according to the specific territorial social,
    economic and religious contest consolidating good practises especially
    those mainly focused on inclusiveness (special needs children),
    to enhance excellence through specific projects (the study of Latin ,ICT, CLIL,
    European Language Certifications and National Maths games).
</p>
<p>
    We are proud to offer our traditional higher education in music,
    teaching to play many instruments is our peculiarity,
    our students reach high level of performance and take part at
    annual regional and national music events.
</p>
<p>
    Wireless, Laptops, projectors, are provided in the whole building,
    a new special foreign language learning room,
    indoor and outdoor gym, children’s and teachers’ canteen.
</p>